.App {
	margin-left: 20px;
}
.CommentList {
	margin-bottom: 10px;
}
.CommentForm {
	margin-top: 20px;
}
.CommentForm input {
	font-size: 12px;
}
.Comment {
	margin-bottom: 10px;
	font-size: 16px;
}
.commentAuthor {
	margin: 0;
}